.CarouselInner {
    background-image: linear-gradient(to right, white,#daf1e9);
    padding: 50px 60px;
}

.carouselSpans span {
    width: 20px;
    height: 20px;
}

.CarouselBtn {
    position: relative;
    z-index: 10;
}

.CarouselIndicators button {
    background-color: black !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}

.CarouselImg img {
    max-height: 420px !important;
}

.Card {
    min-width: 415px !important;
}